.min-vh-85 {
  min-height: 85vh;
}
.max-w-520 {
  max-width: 520px;
}
.max-w-720 {
  max-width: 720px;
}
.max-h-520 {
  max-height: 520px;
}
.stamp-img-64 {
  width: 64px;
  height: 64px;
}
.stamp-img-placeholder {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stamp-img-placeholder .no-image-label {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #444;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px 8px;
  border-radius: 4px;
  pointer-events: none;
  line-height: 12px;
  font-weight: bold;
}
.textcolor-red,
.textcolor-orange,
.textcolor-yellow,
.textcolor-lime,
.textcolor-green,
.textcolor-cyan,
.textcolor-blue,
.textcolor-purple {
  border-radius: 4px;
  padding: 1px 8px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}

.textcolor-red {
  background-color: #e53935;
}
.textcolor-orange {
  background-color: #fb8c00;
}
.textcolor-yellow {
  background-color: #fbc02d;
  color: #333;
}
.textcolor-lime {
  background-color: #62a043;
}
.textcolor-green {
  background-color: #008834;
}
.textcolor-cyan {
  background-color: #00acc1;
}
.textcolor-blue {
  background-color: #1e88e5;
}
.textcolor-purple {
  background-color: #8e24aa;
}
