{% extends "_shared/base.html" %}
{% block title %}
  Mind Heartbeat
{% endblock title %}
{% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center min-vh-85">
    <h1 class="display-5 fw-bold mb-4 text-center">Welcome to Mind Heartbeat</h1>
    <p class="text-center text-secondary mb-5">Mind Heartbeatは気持ちを記録・可視化するシステムです。</p>
    <div class="d-flex justify-content-center gap-3">
      {% if user.is_authenticated %}
        <a href="{% url 'feelings:list' %}"
           class="btn btn-primary btn-lg shadow fw-bold px-4"><i class="bi bi-list me-2"></i>気持ちリスト</a>
        <a href="{% url 'feelings:create' %}"
           class="btn btn-success btn-lg shadow fw-bold px-4"><i class="bi bi-plus-square me-2"></i>気持ち作成</a>
      {% else %}
        <a href="{% url 'accounts:login' %}"
           class="btn btn-primary btn-lg shadow fw-bold px-4"><i class="bi bi-box-arrow-in-right me-2"></i>ログイン</a>
        <a href="{% url 'accounts:signup' %}"
           class="btn btn-success btn-lg shadow fw-bold px-4"><i class="bi bi-person-plus me-2"></i>ユーザ登録</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
