{% extends "_shared/base.html" %}
{% block title %}
  Feelings List - Mind Heartbeat
{% endblock title %}
{% block content %}
  <div class="d-flex align-items-center justify-content-between mb-4 mt-5">
    <h1 class="h3 fw-bold mb-0">感情記録一覧</h1>
    <a href="{% url 'feelings:graph' %}" class="btn btn-primary fw-bold">
      <i class="bi bi-graph-up me-2"></i>グラフ表示
    </a>
  </div>
  <ul class="list-unstyled">
    {% for feeling in feelings_list %}
      <li class="mb-3">
        <a href="{% url 'feelings:detail' feeling.pk %}"
           class="card card-body shadow-sm text-decoration-none mb-0 p-3 border border-1 border-light-subtle hover-shadow">
          <div class="row g-2 align-items-center">
            <div class="col-auto d-flex flex-column align-items-center justify-content-center">
              {% if feeling.stamp.image %}
                <img src="{{ feeling.stamp.image.url }}"
                     alt="{{ feeling.stamp.name }}"
                     class="rounded-circle border stamp-img-64"
                     height="64"
                     width="64" />
              {% else %}
                <div class="bg-secondary bg-opacity-10 rounded-circle stamp-img-placeholder">
                  <i class="bi bi-card-image fs-1"></i>
                  <span class="no-image-label">No Image</span>
                </div>
              {% endif %}
            </div>
            <div class="col ps-2">
              <div class="d-flex align-items-center gap-2 mb-1">
                <span class="text-secondary small">{{ feeling.created_at|date:'Y-m-d H:i' }}</span>
                <span class="{{ feeling.stamp.color }}">{{ feeling.stamp.name }}</span>
              </div>
              <div class="text-dark">{{ feeling.comment|default:'(なし)' }}</div>
            </div>
          </div>
        </a>
      </li>
    {% empty %}
      <li class="text-secondary">記録がありません。</li>
    {% endfor %}
  </ul>
{% endblock content %}
